{% extends "base.html" %}
{% block content %}
<div class="container mx-auto">
    <h1 class="text-4xl font-light text-white">Your Links</h1>
    {% if links %}
        <table class="w-full mt-4 bg-gray-800 text-white rounded">
            <thead>
                <tr class="bg-gray-700">
                    <th class="p-2">Short URL</th>
                    <th class="p-2">Original URL</th>
                    <th class="p-2">Date Created</th>
                </tr>
            </thead>
            <tbody>
                {% for link in links %}
                    <tr class="border-t border-gray-700">
                        <td class="p-2">
                            <a href="/{{ link.short_code }}" target="_blank" class="underline">
                                {{ request.url.scheme }}://{{ request.url.netloc }}/{{ link.short_code }}
                            </a>
                        </td>
                        <td class="p-2">
                            <a href="{{ link.original_url }}" target="_blank" class="underline">{{ link.original_url }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="text-white mt-4">You have not shortened any URLs yet.</p>
    {% endif %}
</div>
{% endblock %}